<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoServeJobsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoServeJobsManager.Properties.Settings>
            <setting name="MySQLUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="completedMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="pendingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="workInProgressMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLHost" serializeAs="String">
                <value>localhost</value>
            </setting>
        </AutoServeJobsManager.Properties.Settings>
    </userSettings>
</configuration>